# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv*/
build/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
result_images

# Sphinx documentation
doc/_build/
.buildinfo

# Jupyter Notebook
.ipynb_checkpoints

# pytest
.pytest_cache

.mypy_cache

# projects
.spyderproject
.spyproject
.idea
.ropeproject
.vscode

*.py~
.DS_Store

examples/nybb_*.zip

doc/source/savefig
doc/source/reference
doc/source/docs/reference/api/*.rst

geopandas.egg-info
geopandas/version.py
geopandas/datasets/ne_110m_admin_0_countries.zip

.asv
doc/source/getting_started/my_file.geojson

.ruff_cache
.env
doc/test_fiona.gpkg
doc/test_pyogrio.gpkg
# pixi environments
.pixi
*.egg-info
pixi.toml
pixi.lock
