# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv*/
build/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Sphinx documentation
doc/_build/

# Jupyter Notebook
.ipynb_checkpoints

# projects
.spyderproject
.spyproject
.idea
.ropeproject

*.py~
.DS_Store

examples/nybb_*.zip

doc/source/gallery
doc/source/savefig
doc/source/reference

geopandas.egg-info
geopandas/version.py

.asv
