repos:
-   repo: https://github.com/python/black
    rev: 20.8b1
    hooks:
    -   id: black
        language_version: python3
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.3
    hooks:
    -   id: flake8
        language: python_venv
