ci:
    autofix_prs: false
    autoupdate_schedule: weekly

files: 'geopandas\/'
repos:
    - repo: https://github.com/psf/black
      rev: 23.1.0
      hooks:
          - id: black
            language_version: python3
    - repo: https://github.com/charliermarsh/ruff-pre-commit
      rev: "v0.0.271"
      hooks:
        - id: ruff