ci:
    autofix_prs: false
    autoupdate_schedule: quarterly

files: 'geopandas\/'
repos:
    - repo: https://github.com/astral-sh/ruff-pre-commit
      rev: "v0.11.4"
      hooks:
        - id: ruff-format
        - id: ruff
          name: sort imports with ruff
          args: [--select, I, --fix]
        - id: ruff