files: 'geopandas\/'
repos:
-   repo: https://github.com/python/black
    rev: stable
    hooks:
    -   id: black
        language_version: python3
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.7.7
    hooks:
    -   id: flake8
        language: python_venv
