language: python

python:
  - "2.7"

env:
  - PANDAS_VERSION=v0.12.0
  - PANDAS_VERSION=master

before_install:
  - sudo add-apt-repository -y ppa:ubuntugis/ubuntugis-unstable
  - sudo apt-get update
  - sudo apt-get install gdal-bin libgdal-dev

install:
  - pip install -r requirements.txt --use-mirrors
  - git clone git://github.com/pydata/pandas.git
  - cd pandas
  - git checkout $PANDAS_VERSION
  - sudo /usr/bin/python setup.py install
  - cd ..

script:
  - nosetests -v
