language: python

python:
  - "2.7"

before_install:
  - sudo add-apt-repository -y ppa:ubuntugis/ubuntugis-unstable
  - sudo apt-get update
  - sudo apt-get install gdal-bin libgdal-dev

install:
  - pip install -r requirements.txt --use-mirrors

script:
  - nosetests
