language: python

sudo: false

cache:
  directories:
    - ~/.cache/pip

addons:
  apt:
    packages:
    - libgdal1h
    - gdal-bin
    - libgdal-dev
    - libspatialindex-dev

env:
  global:
    - PIP_WHEEL_DIR=$HOME/.cache/pip/wheels
    - PIP_FIND_LINKS=file://$HOME/.cache/pip/wheels
  
# matrix creates 3+4x2 = 11 tests
matrix:
  include:
    # Only one test for these Python versions
    - python: 2.6
      env: PANDAS_VERSION=0.15.2
    - python: 3.3
      env: PANDAS_VERSION=0.16.2
    - python: 3.4
      env: PANDAS_VERSION=0.17.1

    # Python 2.7 and 3.5 test all supported Pandas versions
    - python: 2.7
      env: PANDAS_VERSION=0.15.2
    - python: 2.7
      env: PANDAS_VERSION=0.16.2
    - python: 2.7
      env: PANDAS_VERSION=0.17.1
    - python: 2.7
      env: PANDAS_VERSION=master
      
    - python: 3.5
      env: PANDAS_VERSION=0.15.2
    - python: 3.5
      env: PANDAS_VERSION=0.16.2
    - python: 3.5
      env: PANDAS_VERSION=0.17.1
    - python: 3.5
      env: PANDAS_VERSION=master
  

before_install:
  - pip install -U pip
  - pip install wheel

install:
  - pip wheel numpy
  - pip wheel -r requirements.txt
  - pip wheel -r requirements.test.txt

  - pip install numpy
  - pip install -r requirements.txt
  - pip install -r requirements.test.txt

  - if [[ $TRAVIS_PYTHON_VERSION == '2.6' ]]; then pip install -r .requirements-2.6.txt; fi

  - if [[ $PANDAS_VERSION == 'master' ]]; then git clone git://github.com/pydata/pandas.git; cd pandas; pip install -e .; cd ..  ; else pip wheel pandas==$PANDAS_VERSION; pip install pandas==$PANDAS_VERSION; fi

script:
  - py.test tests --cov geopandas -v --cov-report term-missing

after_success:
  - coveralls
