language: python

sudo: false

cache: pip

addons:
  apt:
    packages:
    - libgdal1h
    - gdal-bin
    - libgdal-dev
    - libspatialindex-dev

matrix:
  include:
    # Only one test for these Python versions
    # Pandas >= 0.18.0, is not Python 2.6 compatible
    - python: 3.4
      env: PANDAS=0.18.1 MATPLOTLIB=1.4.3
    - python: 3.5
      env: PANDAS=0.19.2 MATPLOTLIB=1.5.3

    # Python 2.7 and 3.6 test all supported Pandas versions
    - python: 2.7
      env: PANDAS=0.16.2  MATPLOTLIB=1.4.3
    - python: 2.7
      env: PANDAS=0.17.1  MATPLOTLIB=1.4.3
    - python: 2.7
      env: PANDAS=0.18.1  MATPLOTLIB=1.5.3
    - python: 2.7
      env: PANDAS=0.19.2  MATPLOTLIB=1.5.3
    - python: 2.7
      env: PANDAS=0.20.2  MATPLOTLIB=1.5.3   # Make this MATPLOTLIB 2.0.x, when fixed
    - python: 2.7
      env: PANDAS=master  MATPLOTLIB=master

    # Note: Python 3.6 and matplotlib versions before 1.4.3 support is hit or miss.
    - python: 3.6
      env: PANDAS=0.16.2  MATPLOTLIB=1.4.3
    - python: 3.6
      env: PANDAS=0.17.1  MATPLOTLIB=1.4.3
    - python: 3.6
      env: PANDAS=0.18.1  MATPLOTLIB=1.5.3
    - python: 3.6
      env: PANDAS=0.19.2  MATPLOTLIB=1.5.3
    - python: 3.6
      env: PANDAS=0.20.2  MATPLOTLIB=1.5.3  # Make this MATPLOTLIB 2.0.x, when fixed
    - python: 3.6
      env: PANDAS=master  MATPLOTLIB=master

  # matplotlib 2.x (development version) causes a few tests to fail
  allow_failures:
    - env: PANDAS=master  MATPLOTLIB=master


before_install:
  - pip install -U pip

install:
  - pip install numpy
  - if [[ $MATPLOTLIB == 'master' ]]; then pip install git+https://github.com/matplotlib/matplotlib.git; else pip install matplotlib==$MATPLOTLIB; fi

  - pip install -r requirements.txt
  - pip install -r requirements.test.txt

  - if [[ $PANDAS == 'master' ]]; then pip install git+https://github.com/pydata/pandas.git; else pip install pandas==$PANDAS; fi

script:
  - py.test geopandas --cov geopandas -v --cov-report term-missing

after_success:
  - codecov
