language: python

sudo: false


matrix:
  include:
    # Only one test for these Python versions
    - python: 3.4
      env: PANDAS=0.19.2 MATPLOTLIB=1.4.3 SHAPELY=1.5.17
    - python: 3.5
      env: PANDAS=0.20.2 MATPLOTLIB=1.5.3

    # Python 2.7 and 3.6 test all supported Pandas versions
    - python: 2.7
      env: PANDAS=0.19.2  MATPLOTLIB=1.5.3 SHAPELY=1.5.17
    - python: 2.7
      env: PANDAS=0.20.2  MATPLOTLIB=2.0.2
    - python: 2.7
      env: PANDAS=0.23.2  MATPLOTLIB=2.1.2
    - python: 2.7
      env: PANDAS=master  MATPLOTLIB=2.2.2
    - python: 2.7

    - python: 3.6
      env: PANDAS=0.19.2  MATPLOTLIB=1.5.3 SHAPELY=1.5.17
    - python: 3.6
      env: PANDAS=0.20.2  MATPLOTLIB=2.0.2
    - python: 3.6
      env: PANDAS=0.23.2  MATPLOTLIB=2.2.2
    - python: 3.6
      env: PANDAS=master  MATPLOTLIB=master

install:
  # Install conda
  - wget http://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - conda config --set always_yes yes --set changeps1 no
  - conda update conda

  # Install dependencies
  - conda create -n test-geopandas -c conda-forge python=$TRAVIS_PYTHON_VERSION pytest matplotlib six psycopg2 sqlalchemy codecov pytest-cov mock
  - source activate test-geopandas
  - if [[ $MATPLOTLIB == 'master' ]]; then pip install git+https://github.com/matplotlib/matplotlib.git; fi
  - if [ -n "$SHAPELY" ]; then conda install shapely==$SHAPELY; else conda install shapely; fi
  - conda install pysal pyproj fiona descartes rtree

  - if [[ $PANDAS != 'master' ]]; then conda install pandas==$PANDAS; fi
  - if [[ $PANDAS == 'master' ]]; then conda install pandas; pip install git+https://github.com/pydata/pandas.git; fi

script:
  - py.test geopandas --cov geopandas -v --cov-report term-missing

after_success:
  - codecov
