language: python

sudo: false

matrix:
  include:
    # Only one test for these Python versions
    - env: ENV_FILE="ci/travis/35-minimal.yaml"

    # Python 2.7 and 3.6 test all supported Pandas versions
    - env: ENV_FILE="ci/travis/27-pd020.yaml"
    - env: ENV_FILE="ci/travis/27-latest-defaults.yaml"
    - env: ENV_FILE="ci/travis/27-latest-conda-forge.yaml"
    - env: ENV_FILE="ci/travis/27-dev.yaml"

    - env: ENV_FILE="ci/travis/36-pd020.yaml"
    - env: ENV_FILE="ci/travis/36-pd022.yaml"

    - env: ENV_FILE="ci/travis/37-latest-defaults.yaml"
    - env: ENV_FILE="ci/travis/37-latest-conda-forge.yaml"
    - env: ENV_FILE="ci/travis/37-dev.yaml"

install:
  # Install conda
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - conda config --set always_yes yes --set changeps1 no
  - conda update conda

  # Install dependencies
  - conda env create --file="${ENV_FILE}"
  - source activate test
  - pip install -e .
  - conda list

script:
  - py.test geopandas --cov geopandas -v --cov-report term-missing

after_success:
  - codecov
