language: python

sudo: false

matrix:
  include:
    # Only one test for these Python versions
    - env: ENV_FILE="ci/travis/35-minimal.yaml"

    # Python 3.6 test all supported Pandas versions
    - env: ENV_FILE="ci/travis/36-pd023.yaml"
    - env: ENV_FILE="ci/travis/36-pd024.yaml"

    - env: ENV_FILE="ci/travis/37-latest-defaults.yaml" STYLE=true
    - env: ENV_FILE="ci/travis/37-latest-conda-forge.yaml"
    - env: ENV_FILE="ci/travis/37-dev.yaml" DEV=true

install:
  # Install conda
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - conda config --set always_yes yes --set changeps1 no
  - conda update conda
  - conda info

  # free channel needed for older envs (< py37), see
  # https://github.com/conda/conda/issues/8849
  - conda config --set restore_free_channel true

  # Install dependencies
  - conda env create --file="${ENV_FILE}"
  - source activate test
  - if [ "$DEV" ]; then pip install git+https://github.com/pydata/pandas.git; fi
  - if [ "$DEV" ]; then pip install git+https://github.com/matplotlib/matplotlib.git; fi
  - if [ "$DEV" ]; then pip install git+https://github.com/Toblerity/Shapely.git; fi
  - if [ "$STYLE" ]; then pip install black flake8; fi
  - pip install -e .
  - conda list
  - python -c "import geopandas; geopandas.show_versions();"

script:
  - py.test geopandas --cov geopandas -v --cov-report term-missing
  - if [ "$STYLE" ]; then black --check geopandas; fi
  - if [ "$STYLE" ]; then flake8 geopandas; fi

after_success:
  - codecov
