# required
fiona>=1.8.21
pandas>=1.4.0
pyproj>=3.3.0
shapely>=2.0.0
packaging

# postgis
psycopg2-binary>=2.8.0
SQLAlchemy>=1.3

# geocoding
geopy

# plot
matplotlib>=3.5.0
mapclassify
xyzservices
folium

# test
pytest>=3.1.0
pytest-cov
pytest-xdist
codecov

# styling
black
pre-commit

# postgis-write
GeoAlchemy2

# parquet
pyarrow>=8.0.0
