# required
fiona>=1.8
pandas>=1.0.0
pyproj>=2.6.1.post1
shapely>=1.7
packaging

# geodatabase access
psycopg2>=2.8.0
SQLAlchemy>=1.3

# geocoding
geopy

# plotting
matplotlib>=3.2
mapclassify

# testing
pytest>=3.1.0
pytest-cov
codecov

# spatial access methods
rtree>=0.9

# styling
black
pre-commit

# PostGIS writing
GeoAlchemy2
