# required
numpy>=2
pyogrio>=0.8
pandas>=2.2
pyproj>=3.7.0
shapely>=2.1.0
packaging

# geodatabase access
psycopg[binary]>=3.120
SQLAlchemy>=2.0

# geocoding
geopy

# plotting
matplotlib>=3.9
mapclassify>=2.7
xyzservices
folium

# testing
pytest>=3.1.0
pytest-cov
pytest-xdist
pytest-doctestplus
fsspec
codecov
geodatasets

# styling
pre-commit
ruff

# PostGIS writing
GeoAlchemy2

# parquet
pyarrow>=15.0.0
geoarrow-pyarrow

# sparse
scipy

# sampling
pointpats

# io
fiona