# geodatabase access
psycopg2>=2.5.1
SQLAlchemy>=0.8.3

# geocoding
geopy

# plotting
descartes>=1.0
matplotlib>=1.2.1
mapclassify

# running tests
mock>=1.0.1  # technically not need for python >= 3.3
pytest>=3.1.0
pytest-cov
codecov

# spatial joins
rtree>=0.8

# formatting
black
pre-commit
