name: geopandas_docs
channels:
- conda-forge
dependencies:
- python=3.7
- pandas=0.25.0
- shapely=1.6.4
- fiona=1.8.6
- pyproj=1.9.6
- rtree=0.8.3
- geopy=1.20.0
- matplotlib=3.1.1
- descartes=1.1.0
- mapclassify=2.1.1
- sphinx=2.1.2
- sphinx_rtd_theme=0.4.3
- numpydoc=0.9.1
- ipython=7.7.0
- pillow=6.1.0
- mock=3.0.5
- cartopy=0.17.0
- contextily=1.0rc2
- rasterio=1.0.24
- geoplot=0.4.0
- sphinx-gallery=0.4.0
- jinja2=2.10
- doc2dash
