name: geopandas_docs
channels:
- conda-forge
dependencies:
- python=3.7
- pandas=1.0.1
- shapely=1.7.0
- fiona=1.8.13
- pyproj=2.4.2.post1
- rtree=0.9.4
- geopy=1.21.0
- matplotlib=3.1.3
- descartes=1.1.0
- mapclassify=2.2.0
- sphinx=2.4.1
- sphinx_rtd_theme=0.4.3
- numpydoc=0.9.2
- ipython=7.12.0
- pillow=7.0.0
- mock=3.0.5
- cartopy=0.17.0
- contextily=1.0rc2
- rasterio=1.1.1
- geoplot=0.4.0
# 0.5.0 has a bug (https://github.com/sphinx-gallery/sphinx-gallery/issues/568)
- sphinx-gallery=0.4.0
- jinja2=2.11.1
- doc2dash
# specify additional dependencies to reduce solving for conda
- gdal=3.0.4
- libgdal=3.0.4
- proj=6.3.0
- geos=3.8.0
