name: geopandas_docs
channels:
  - conda-forge
dependencies:
  - python=3.9.1
  - pandas=1.2.2
  - shapely=1.7.1
  - fiona=1.8.18
  - pyproj=3.0.0.post1
  - rtree=0.9.7
  - geopy=2.1.0
  - matplotlib=3.3.4
  - mapclassify=2.4.2
  - sphinx=3.5.1
  - pydata-sphinx-theme=0.4.3
  - numpydoc=1.1.0
  - ipython=7.20.0
  - pillow=8.1.0
  - mock=4.0.3
  - cartopy=0.18.0
  - pyepsg=0.4.0
  - contextily=1.1.0
  - rasterio=1.2.0
  - geoplot=0.4.1
  - sphinx-gallery=0.8.2
  - jinja2=2.11.3
  - doc2dash=2.3.0
  # specify additional dependencies to reduce solving for conda
  - gdal=3.1.4
  - libgdal=3.1.4
  - proj=7.2.0
  - geos=3.9.0
  - nbsphinx=0.8.1
  - jupyter_client=6.1.11
  - ipykernel=5.4.3
  - myst-parser=0.13.5
  - folium=0.12.0
  - libpysal=4.4.0
  - pygeos=0.9
  - pip
  - pip:
      - sphinx-toggleprompt
