name: geopandas_docs
channels:
  - conda-forge
dependencies:
  - python
  - pandas
  - shapely
  - fiona
  - pyogrio
  - geopy
  - matplotlib
  - mapclassify
  - sphinx
  - pydata-sphinx-theme
  - numpydoc
  - ipython
  - pillow
  - mock
  - cartopy
  - pyepsg
  - contextily
  - rasterio
  - geoplot
  - sphinx-gallery
  - jinja2
  - doc2dash
  - matplotlib-scalebar
  # specify additional dependencies to reduce solving for conda
  - gdal
  - libgdal
  - geos
  - nbsphinx
  - jupyter_client
  - ipykernel
  - myst-parser
  - folium
  - libpysal
  - xyzservices
  - packaging
  - pointpats
  - pip
  - pip:
      - sphinx-toggleprompt
      - geodatasets
      - pyproj
