name: geopandas_docs
channels:
- conda-forge
dependencies:
- python=3.6
- pandas
- shapely
- fiona
- pyproj
- rtree
- six
- geopy
- matplotlib
- descartes
- pysal
- sphinx
- sphinx_rtd_theme
- ipython
