pandas
shapely
fiona
pyproj
pyogrio
geopy
matplotlib
mapclassify
sphinx
pydata-sphinx-theme
numpydoc
ipython
pillow
mock
cartopy
pyepsg
contextily
rasterio
sphinx-gallery
jinja2
doc2dash
matplotlib-scalebar
# specify additional dependencies to reduce solving for conda
nbsphinx
jupyter_client
ipykernel
myst-parser
folium
libpysal
xyzservices
packaging
pointpats
sphinx-toggleprompt
geodatasets
